{% extends "layout.html" %}

{% block  head %}
    <title>天控五轴PLM-任务统计</title>
{% endblock %}


{% block content %}
    {% csrf_token %}
    <div class="row">
    <div class="fixed col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">当前任务 </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th><a href="/plm/management/prj?index=prj_id" class="btn-outline-secondary btn-sm">所属任务</a>
                            </th>
                            <th><a class="btn-outline-secondary btn-sm">任务名称</a></th>
                            <th><a class="btn-outline-secondary btn-sm">负责人</a></th>
                            <th><a class="btn-outline-secondary btn-sm">计划开始日期</a></th>
                            <th><a class="btn-outline-secondary btn-sm">计划完成日期</a></th>
                            <th><a class="btn-outline-secondary btn-sm">执行情况</a></th>
                            <th><a class="btn-outline-secondary btn-sm">问题说明</a></th>
                        </tr>
                        </thead>
                        {% for task in tasks %}
                            <tr>
                                <td><a href="/plm/management/task/task_by_prj?pid={{ task.parent_project.id }}" class="btn-outline-secondary">{{ task.parent_project.prj_name }}</a></td>
                                <td><a href="/plm/management/task/inspect?tid={{ task.id }}"  class="btn-outline-secondary">{{ task.task_name }}</a></td>
                                <td>{{ task.principle.name }}</td>
                                <td>{{ task.t_start_time.year }}-{{ task.t_start_time.month }}-{{ task.t_start_time.day }}</td>
                                <td>{{ task.t_end_time.year }}-{{ task.t_end_time.month }}-{{ task.t_end_time.day }}</td>
                                {% if task.condition == 0 %}
                                    <td style="background-color: lightgrey">未开始</td>
                                {% elif task.condition == 1 %}
                                    <td style="background-color:royalblue">进行中</td>
                                {% elif task.condition == 2 %}
                                    <td style="background-color: yellow">延期</td>
                                {% elif task.condition == 3 %}
                                    <td style="background-color: orange">延误</td>
                                {% elif task.condition == 4 %}
                                    <td style="background-color: red">取消</td>
                                {% elif task.condition == 5 %}
                                    <td style="background-color:springgreen">完成</td>
                                {% else %}
                                    <td style="background-color: green">延期完成</td>
                                {% endif %}
                                <td>{{ task.remark }}</td>
                            </tr>
                        {% endfor %}
                    </table>


                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">任务执行情况分布</h4>
                    <div class="flot-container">
                        <div id="flot-pie" class="flot-pie-container"></div>
                    </div>
                </div>
            </div><!-- /# card -->
        </div><!-- /# column -->

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">任务时间分布 </h4>
                    <canvas id="singelBarChart"></canvas>
                </div>
            </div>
        </div><!-- /# column -->
    </div><!-- /# row -->


{% endblock %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/excanvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.time.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.stack.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.resize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.crosshair.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot.curvedlines@1.1.1/curvedLines.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot.tooltip@0.9.0/js/jquery.flot.tooltip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <script>
        let csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: "/plm/management/task/charts/",
            method: "POST",
            dataType: "JSON",
            data: {'csrfmiddlewaretoken': csrf},
            success: function (updData) {
                var data = [];
                for (let i = 0; i < updData.length; i++) {
                    s = {
                        label: updData.labels[i],
                        data: updData.counts[i],
                        color: updData.colors[i]
                    };
                    data.push(s)
                }

                var plotObj = $.plot($("#flot-pie"), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: false,
                            }
                        }
                    },
                    grid: {
                        hoverable: true
                    },
                    tooltip: {
                        show: true,
                        content: "%p.0%, %s, n=%n", // show percentages, rounding to 2 decimal places
                        shifts: {
                            x: 20,
                            y: 0
                        },
                        defaultTheme: false
                    }
                });

                // single bar chart
                var ctx = document.getElementById("singelBarChart");
                ctx.height = 91;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: updData.months,  //, "Wed", "Th", "Fri", "Sat"
                        datasets: [
                            {
                                label: "单月涉及任务数",
                                data: updData.tasks, //, 80, 56, 55, 23
                                borderColor: "rgba(0, 194, 146, 0.9)",
                                borderWidth: "0",
                                backgroundColor: "rgba(0, 194, 146, 0.5)"
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        })
    </script>
{% endblock %}