{% extends "layout.html" %}

{% block head %}
    <title> {{ person.name }}-任务检视 </title>
{% endblock %}



{% block content %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>唯一ID</th>
            <th>姓名</th>
            <th>性别</th>
            <th>部门</th>
            <th>职称</th>
            <th>状态</th>
        </tr>
        <tr>
            <td>{{ person.pid }}</td>
            <td>{{ person.name }}</td>
            {% if person.gender == 1 %}
                <td>男</td>
            {% else %}
                <td>女</td>
            {% endif %}
            <td>{{ person.dep.title }}</td>
            <td>{{ person.rank }}</td>
            <td>{{ person.status }}</td>
        </tr>
    </table>

    <h3>执行中任务:</h3><p></p>
    {% if ptt_executings %}
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>任务名称</th>
                <th>所属项目</th>
                <th>时间</th>
                <th>工作说明</th>
                <th>备注</th>
                <th>状态</th>
            </tr>
            {% for ptt_executing in ptt_executings %}
                <tr>
                    <td>{{ ptt_executing.task.task_name }}</td>
                    <td>{{ ptt_executing.task.parent_project.prj_name }}</td>
                    <td>
                        {{ ptt_executing.task.t_start_time.year }}-{{ ptt_executing.task.t_start_time.month }}-{{ ptt_executing.task.t_start_time.day }}至
                        {{ ptt_executing.task.t_end_time.year }}-{{ ptt_executing.task.t_end_time.month }}-{{ ptt_executing.task.t_end_time.day }}
                    </td>
                    <td>{{ ptt_executing.remark }}</td>
                    <td>{{ ptt_executing.task.remark }}</td>
                    <td>
                        {% if ptt_executing.task.condition == 0 %}
                            <p style="background-color: lightgrey">未开始</p>
                        {% elif ptt_executing.task.condition == 1 %}
                            <p style="background-color:royalblue">进行中</p>
                        {% elif ptt_executing.task.condition == 2 %}
                            <p style="background-color: yellow">延期</p>
                        {% elif ptt_executing.task.condition == 3 %}
                            <p style="background-color: orange">延误</p>
                        {% elif ptt_executing.task.condition == 4 %}
                            <p style="background-color: red">取消</p>
                        {% elif ptt_executing.task.condition == 5 %}
                            <p style="background-color:#2fff00">完成</p>
                        {% else %}
                            <p style="background-color: green">延期完成</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h4><p></p> 暂无</h4>
    {% endif %}

    <h3>未开始任务:</h3><p></p>
    {% if ptt_notstarts %}
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>任务名称</th>
                <th>所属项目</th>
                <th>时间</th>
                <th>工作说明</th>
                <th>备注</th>
                <th>状态</th>
            </tr>
            {% for ptt_executing in ptt_notstarts %}
                <tr>
                    <td>{{ ptt_executing.task.task_name }}</td>
                    <td>{{ ptt_executing.task.parent_project.prj_name }}</td>
                    <td>
                        {{ ptt_executing.task.t_start_time.year }}-{{ ptt_executing.task.t_start_time.month }}-{{ ptt_executing.task.t_start_time.day }}至
                        {{ ptt_executing.task.t_end_time.year }}-{{ ptt_executing.task.t_end_time.month }}-{{ ptt_executing.task.t_end_time.day }}
                    </td>
                    <td>{{ ptt_executing.remark }}</td>
                    <td>{{ ptt_executing.task.remark }}</td>
                    <td>
                        {% if ptt_executing.task.condition == 0 %}
                            <p style="background-color: lightgrey">未开始</p>
                        {% elif ptt_executing.task.condition == 1 %}
                            <p style="background-color:royalblue">进行中</p>
                        {% elif ptt_executing.task.condition == 2 %}
                            <p style="background-color: yellow">延期</p>
                        {% elif ptt_executing.task.condition == 3 %}
                            <p style="background-color: orange">延误</p>
                        {% elif ptt_executing.task.condition == 4 %}
                            <p style="background-color: red">取消</p>
                        {% elif ptt_executing.task.condition == 5 %}
                            <p style="background-color:#2fff00">完成</p>
                        {% else %}
                            <p style="background-color: green">延期完成</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h4><p></p> 暂无</h4>
    {% endif %}


    <h3>已完成任务:</h3><p></p>
    {% if ptt_finisheds %}
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>任务名称</th>
                <th>所属项目</th>
                <th>时间</th>
                <th>工作说明</th>
                <th>备注</th>
                <th>状态</th>
            </tr>
            {% for ptt_executing in ptt_finisheds %}
                <tr>
                    <td>{{ ptt_executing.task.task_name }}</td>
                    <td>{{ ptt_executing.task.parent_project.prj_name }}</td>
                    <td>
                        {{ ptt_executing.task.t_start_time.year }}-{{ ptt_executing.task.t_start_time.month }}-{{ ptt_executing.task.t_start_time.day }}至
                        {{ ptt_executing.task.t_end_time.year }}-{{ ptt_executing.task.t_end_time.month }}-{{ ptt_executing.task.t_end_time.day }}
                    </td>
                    <td>{{ ptt_executing.remark }}</td>
                    <td>{{ ptt_executing.task.remark }}</td>
                    <td>
                        {% if ptt_executing.task.condition == 0 %}
                            <p style="background-color: lightgrey">未开始</p>
                        {% elif ptt_executing.task.condition == 1 %}
                            <p style="background-color:royalblue">进行中</p>
                        {% elif ptt_executing.task.condition == 2 %}
                            <p style="background-color: yellow">延期</p>
                        {% elif ptt_executing.task.condition == 3 %}
                            <p style="background-color: orange">延误</p>
                        {% elif ptt_executing.task.condition == 4 %}
                            <p style="background-color: red">取消</p>
                        {% elif ptt_executing.task.condition == 5 %}
                            <p style="background-color:#2fff00">完成</p>
                        {% else %}
                            <p style="background-color: green">延期完成</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h4><p></p> 暂无</h4><p></p><p></p><p></p>
    {% endif %}
    {% csrf_token %}
    <h3>任务统计:</h3><p></p>

                <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">任务执行情况分布</h4>
                            <div class="flot-container">
                                <div id="flot-pie" class="flot-pie-container"></div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->

{#                <div class="col-lg-8">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <h4 class="mb-3">项目时间分布 </h4>#}
{#                            <canvas id="singelBarChart"></canvas>#}
{#                        </div>#}
{#                    </div>#}
{#                </div><!-- /# column -->#}
            </div><!-- /# row -->
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/excanvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.time.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.stack.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.resize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.crosshair.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot.curvedlines@1.1.1/curvedLines.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot.tooltip@0.9.0/js/jquery.flot.tooltip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <script>
        let csrf = $('input[name="csrfmiddlewaretoken"]').val();
         $.ajax({
            url: "/plm/management/task/task_by_person/?pid={{ person.id }}",
            type: 'POST',
            dataType: 'JSON',
             data: {"update": "true", 'csrfmiddlewaretoken': csrf, 'pid':{{person.id}}},
            success: function (updData) {
                {#projectStatues = updData.values;#}
                //alert(updData);
                // alert([ 0, 0, 15, 110, 50, 63, 23, 23, 55]);
                // $('#tagflag').val(saleschartdata0[0])

                //data.push(data[1]);
                //data.concat(data[1]);

                var data = [];
                for (let i = 0; i < updData.length; i++) {
                    s = {
                        label: updData.labels[i],
                        data: updData.counts[i],
                        color: updData.colors[i]
                    };
                    data.push(s)
                }

                var plotObj = $.plot($("#flot-pie"), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: false,
                            }
                        }
                    },
                    grid: {
                        hoverable: true
                    },
                    tooltip: {
                        show: true,
                        content: "%p.0%, %s, n=%n", // show percentages, rounding to 2 decimal places
                        shifts: {
                            x: 20,
                            y: 0
                        },
                        defaultTheme: false
                    }
                });

            }
        });


    </script>

{% endblock %}